# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_iI4QRn6lawJe@ep-raspy-cake-absxlcnr-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Authentication
BETTER_AUTH_SECRET="26WiLoWkSbtmkwdrhRR3OutWgFFnx7sN"
BETTER_AUTH_URL="https://todo-with-chatbot.vercel.app/"

# Server Configuration
API_HOST="127.0.0.1"
API_PORT="8000"
DEBUG=true